<!DOCTYPE html>
<html>

<body>

<div class="upperDesc">
  <div class="lefterDesc">
  <h1>Mobile App Development</h1>
  <p>The Revolution Begins Here<br>
      Mobility is the future.</p>
  </div>
</div>
<p>The mobile app movement has gradually gained momentum over the years.<br>Nowadays, just about anybody can be seen with a smartphone.<br>This means that the market for mobile-platform-based applications like Android<br>or iOS apps have an enormous amount of untapped potential. The IvyWire team will be dedicated<br>to ensuring that you are able to take full advantage of this. We provide you with a personalized development experience<br>to ensure that your app will be:
<ul>
<li>Polished</li>
<li>Competitive</li>
<li>Easy to use</li>
<li>Exceeds your expectations</li>
</ul>
</p>

<h4>Basic Information App Package</h4>
<p>
This package will include text and pictures for you app. This package is recommended for clients who wants an app that solely provides information to the users through a simple interface. For instance, the first aid app will contain sections about emergency medical information. It will have little interaction with the users. This package will cost $300-$400. 
</p>

<h5>Database App Package</h5>
<p>These apps require the creation of a database for information storage. They are usually a lot more user-interactive than the basic package. Examples of database apps include task tracker apps, note-taking apps or any apps that require storing user-input information. This package will cost $500-800, depending on the complexity of the app requested. Apps that require internet access will be more expensive than the apps which do require it. </p>

<h6>Game Package</h6>
<p>Games are the most complex apps to make. They require frequent updates due to the fact that it needs to process a large volume of user-input information. However, games are easier to go viral than other apps, thus it has great potential benefits. The game package will cost $1000-$2000 depending on the complexity.</p>


</body>
</html>