<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>IvyWire Development</title>

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/style2.css" %}" type="text/css"/>
</head>

<body>
<div class="upperNav">
    <header>
	   <div class="container">
		<div class="icon">
	       <a href="/"><img src="{% static "img/logo.png"%}"/>
		    <p>IvyWire Development</p>
		   </a>
		</div>
	       <div class="navSection">
                <nav class="topNavBar1">
				     <ul>
					    <li><a href="/">ABOUT</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/contact">Contact Us</a></li>
				     </ul>
			    </nav>
		   </div>
	   </div>
	</header>
</div>
    
	<div class="upper1">
	   <div class="container">
	       <div class="contactustitle">
		      <h1 class="white">Contact Us</h1>
		   </div>
	  <div class="frontDescription">
	     <p class="white">
		 If you are interested in hiring our services, please contact us. Thank you for your consideration.
		 </p>
	  </div>
	 </div>
    </div>
  </div>
	  
<div class="middler">
  <div class="container">
   <div class="clientContactForm">
   <form name="clientForm" method="POST" id="contact">
   <label for="name"> 
   
   <p>Name</p>
   </label>
  <input id="name" name="name" type="text"/>
  <br/>
  <label for="phone">
  
  <p>Phone</p>
  </label>
  <input id="phone" name="phone" type="text"/>
  <br/>
  <label for="email">
  
  <p>Email</p>
  </label>
  <input id="email" name="email" type="text"/>
  <br/>
  
  <label for="message">
  <p>Message</p>
  </label>
  
 <TextArea id="message" name="message" cols="100" rows="4">
 </TextArea>
 
 <input type="submit"/>
 </form>
 
</div>
</div> 
</div>



</body>
</html>