<!DOCTYPE html>
<html>
<head>
<title>IvyWire Technical Solutions</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
</head>

<body>
<div class="upper">
	<div class="container">
		<div class="nav">
			<h1>
				<a title="Home Page" href="/">IvyWire</a>
			</h1>
			<ul class="menu">
				<li><a title="Home Page" href="/">Home</a></li>
				<li><a title="Web Development" href="/web">Websites</a></li>
				<li><a title="Mobile App Development" href="/apps">Mobile Apps</a></li>
			</ul>
		</div>
		<div class="upperDesc">
			<div class="lefterDesc">
				<h1>We build websites and mobile apps.</h1>
				<p>Your ideas. Your projects. Your success.</p>
			</div>
			<span class="contactButton">
				<a href="/contact"> GET A QUOTE</a>
			</span>
		</div>
	</div>
</div>
<div class="middler">
	<div class="container">
		<div class="leftbox">
			<h1>Website Development</h1>
			<p>
			In this day and age, the Internet is the new media king. In order to take full advantage of this 
			businesses have started making websites to both promote their products and provide customers 
			with a convenient communication platform. 
			</p>		
			<p>
			IvyWire sets you up with a skilled team that will work closely with you to provide you a 
			comfortable experience while still keeping you well-informed every step of the way. You will 
			always have the final say and rest assured that your final product will be exactly as you 
			asked for.
			</p>
			<span class="readButton">
				<a href="/web"> READ MORE</a>
			</span>
		</div>
		<div class="rightbox">
			<h1>Mobile Apps Development</h1>
			<p>
			The mobile app movement has gradually gained momentum over the years. Nowadays, just about anybody can be 
			seen with a smartphone. This means that the market for mobile-platform-based applications like Android or 
			iOS apps have an enormous amount of untapped potential. 
			</p>
			<p>
			The IvyWire team will be dedicated to ensuring that you are able to take full advantage of this. We 
			provide you with a personalized development experience to ensure that you know exactly what is 
			going on at all times. 
			</p>
			<span class="readButton">
				<a href="/apps"> READ MORE</a>
			</span>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<span>© 2013 Tapped. All rights reserved.</span>
	</div>
</div>
</body>
<script src="{% static "js/bootstrap.min.js" %}"/>
</html>