<!DOCTYPE html>
<html>
<head>
<title>IvyWire Technical Solutions</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
</head>

<body>
<div class="upper">
    <div class="container">
	      <div class="nav">
		    <h1>
		      <a title="Home Page" href="/">			  
		    </h1>
			<ul class="menu">
			    <li><a title="Home Page" href="/">Home</a></li>
				<li><a title="Web Development" href="/web">Websites</a></li>
				<li><a title="Mobile App Development" href="/apps">Mobile Apps</a></li>
				<li><a title="Contact Us" href="/contact">Contact Us</a></li>
		    </ul>
		  </div>
	   <div class="upperDesc">
		<div class="lefterDesc">
		     <h1>Web Services</h1>
			 <p>Designs that Just Work.</p>
		</div>
		<span class="contactButton">
		   <a href="/contact">GET A QUOTE</a>
		</span>
    
	    </div>
	
    </div>
</div>



<h2>$250-Miminal Package</h2>
<ul>
<li>3-5 basic pages</li>
<li>One page will be "contact us" page that would allow the user to create a custom form that the client's customer would fill out. The contact of which would be forwarded to the client's email of choice</li>
<li>Social media share button on footer (i.e. Facebook, Twitter, etc.)</li>
<li>Minimal SEO services (very basic help in setting up each web page to be optimized for 2 or 3 key words a person Google or Yahoo searches)</li>
<li>Timespan: 1 week, 1.5 weeks at most</li>
</ul>



<h3>$300-Basic Package</h3>
<ul>
<li>5-7 pages</li>
<li>Includes everything from basic package</li>
<li><dl><dt>Pages will now include dynamic content, like:</dt></li>
    <dd>Image slideshows</dd>
	<dd>Pop out/scroll out contact form</dd>
	<dd>“Locate us” support (Google maps will plot a route to your address from inputted user address)</dd>
	<dd>Other content can be requested, so if there are any ideas then the client can request we implement them</dd>
	</dl>
<li>Timespan: 1-2 weeks</li>
</ul>

<h4>$400-Intermediate Package</h4>
<ul>
<li></li>
</ul>

<h5>$500-Advanced Package</h5>
<p>
•	10-15 pages[2] 
•	Includes everything from minimal, basic and intermediate packages.
•	Provides support for databases and help in setting them up(note that if we use cloud-based storage then the cost will change depending on the company's prices)
•	How do I know if my website needs a database? Ask yourself the following questions:
	Is your website constantly storing and updating information? For example, if you are storing a user's name, location and other credentials onto your website you will most likely require a database. 
	If your website is an ecommerce website then you will need one to store information on your products [3]
•	Timespan: 2+ weeks (the number of hours will be given based on size of website)
</p>

<h6>$800-E-Commerce Package</h6>
<p>

</p>

<p>[1] Do you need a RSS? If so, please check here:  http://www.whatisrss.com/
[2] Prices will be scaled accordingly if extra pages are needed. Note that if pages are not dynamic fees may be minimized or even waived.
[3] Please see this link to read more: http://www.sitepoint.com/does-site-need-database
[4] Prices will be scaled accordingly.
</p>

</body>
<script src="{% static "js/bootstrap.min.js" %}"/>
</html>