/*
Fonts
*/
@font-face {
	font-family: 'RobotoFont';
	src: url('../fonts/Roboto-Light-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Roboto-Light-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Roboto-Light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Roboto-Light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoFont2';
	src: url('../fonts/Roboto-Thin-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Roboto-Thin-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Roboto-Thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Roboto-Thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OSFont';
	src: url('../fonts/Roboto-LightItalic-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Roboto-LightItalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Roboto-LightItalic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoFont4';
	src: url('../fonts/Roboto-Regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Roboto-Regular-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Roboto-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Roboto-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LaneFont';
	src: url('../fonts/LANENAR_-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/LANENAR_-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/LANENAR_-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/LANENAR_-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'RobotoFont';
		src: url('../fonts/Roboto-Light-webfont.svg') format('svg');
	}
	
	@font-face {
		font-family: 'RobotoFont2';
		src: url('../fonts/Roboto-Thin-webfont.svg') format('svg');
	}
	
	@font-face {
		font-family: 'LaneFont';
		src: url('../fonts/LANENAR_-webfont.svg') format('svg');
	}
	
	@font-face {
		font-family: 'OSFont';
		src: url('../fonts/Roboto-LightItalic-webfont.svg') format('svg');
	}	
	
	@font-face {
		font-family: 'RobotoFont4';
		src: url('../fonts/Roboto-Regular-webfont.svg') format('svg');
	}
}


/*New HTML5 Website section*/
body{
	
}

/* Top part */
nav {
}

header{
	padding:10px;
}

header .icon img{
	float: left;
	height:60px;
}
.icon img{
	width="100";
}

header nav{
	float:right;
	padding-top:20px;
}

header nav li{
	display:inline;
	font-size:14px;
	padding-left: 20px;
}

.topNavBar ul li a{
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	color:#848484;
	padding-bottom:5px;
}

.upper{
	background: url('../img/wall1.png') repeat scroll #0489B1;
}

.upperNav{
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.48);
	background: repeat #FFFFFF;
}
/* Slider part*/
.banner { 
position: relative; overflow: auto; 
margin-top:20px; margin-bottom:20px; 
background-color:#E9E5D8;
margin-left:100px;
margin-right:100px;
border: 3px #FFFFFF solid;
max-height:600px;
}
.banner li { list-style: none; }
.banner ul li { float: left; }


/* Middle stuff */
.inner {
	float:left;
	width:100%;
}

.firstBlock{
	font-size:37px;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15%;
}

.navSection{
	float:right;
}
.upperTitle{
	margin-top:50px;
}

.frontTitle{
	float:left;
}
.frontTitle p{
	float:left;
	font-size:25px;
	border-bottom: 3px #424242 solid;
	padding-bottom:5px;
	line-height:1.15em;
	padding-top:15px;
	font-family: 'Georgia';
	font-weight:700;
}

.frontDescription{
	float:left;
	margin-top:2px;
}
.frontDescription p{
	float:left;
	font-size:20px;
	line-height:1.75em;
	color:#000000;
	padding-bottom:15px;
	font-family: 'Georgia';
	font-weight: lighter;
}

.frontButtons{
	float:left;
}

.frontImage{
}

.frontImage img{
	height:550px;
	padding-top:15px;
	margin-left:150px;
}

/*Lower part*/
.lower {
	width:100%;
	background:  repeat scroll #FFFFFF;
}
/* Old Website Section
.upper{
	background: url('../img/wall1.png') repeat scroll center bottom #0489B1;
	clear: both;
	float:left;
	width:100%;
	-webkit-box-shadow: 0px -1px 24px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px -1px 24px rgba(50, 50, 50, 1);
	box-shadow:	0px -1px 24px rgba(50, 50, 50, 1);
}

.upper a, p{
	color:#FFFFFF;
}
.inner{
	padding: 0 20px;
	margin: 0 auto;
    max-width: 1020px;
}

.nav h1 a{
	display: block;
	float: left;
	letter-spacing:1px;
	font-family: 'EdoFont'
}
.nav{
    clear: both;
    display: block;
    float: left;
    margin: 20px auto;
    padding: 10px 0 10px;
    width: 100%;
}

.nav ul{
	display: inline;
    float: right;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 12px 0;
    padding: 0;
}

.nav ul li{
	display: inline-block;
    float: left;
    margin: 0 0 0 15px;
	font-size: 13px;
	list-style-type: none;
}


.nav ul li a {
	color: #FFFFFF;
    font-weight: 700;
	font-size: 13px;
    padding: 5px;
	font-weight: 900;
    text-transform: uppercase;
	text-decoration: none;
}

.upperDesc{
    color: #FFFFFF;
    float: left;
    line-height: 160%;
    margin: 0px 0px 80px;
	clear: both;
    width: 100%;
}

.lefterDesc{
	float: left;
    margin: 0 3% 0 0;
    width: 60%;
}

.lefterDesc h1{
	font-size: 50px;
	padding-top:50px;
	line-height: 150%;
	margin: 0;
	font-weight:700;
}

.lefterDesc p{
	font-size:30px;
	margin-top:50px;
	font-weight:300;
	line-height:40px;
	font-family: 'RobotoFont';
}

.contactButton{
	margin: 0;
    padding: 0;
	vertical-align: baseline;
}

.readButton a{
	background-color: #0174DF;
	background-image: -moz-linear-gradient(center top , #0174DF, #045FB4);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5	px #2E2E2E;
	clear: both;
	padding:9px 18px 9px 18px;
	color: #FFFFFF;
	font-size:18px;
	margin-top:10px;
	float:left;
	text-decoration:none;
	
}
.contactButton a{
	background-color: #0174DF;
	font-size:20px;
	background-image: -moz-linear-gradient(center top , #0174DF, #045FB4);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5	px #2E2E2E;
	clear: both;
	padding:18px 35px 18px 35px;
	float: left;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration:none;
	margin-top:30px;
	margin-left:2%;
}

.contactButton a:hover,
.contactButton a:focus,
.contactButton a:active{
	background-image: -moz-linear-gradient(center top , #045FB, #0174DF);
}
.righterDesc{

}

.lefterImg{

}

.righterImg{


}

.middler{
	clear: both;
    float: left;
    margin: 100px 0 80px;
    width: 100%;
}

.leftbox{
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	-webkit-box-shadow: 2px 2px 9px rgba(170, 170, 170, 0.75);
	-moz-box-shadow:    2px 2px 9px rgba(170, 170, 170, 0.75);
	box-shadow:         2px 2px 9px rgba(170, 170, 170, 0.75);
	  border-radius: 3px 3px 3px 3px;
	background: #FAFAFA;
	min-height: 400px;
    padding: 20px 25px 30px;
    width: 47%;
	float:left;
	vertical-align: baseline;
	margin-top:20px;
}

.leftbox h1{
	color:#000000;
	font-size:30px;
	font-family: 'RobotoFont';
}

.leftbox p{
	color:#000000;
	font-family: 'RobotoFont';
	line-height:1.5em;
	font-size:15px;
}

.leftbox img{
	
}
.rightbox h1{
	color:#000000;
	font-size:30px;
	font-family: 'RobotoFont';
}

.rightbox p{
	color:#000000;
	font-family: 'RobotoFont';
	line-height:1.5em;
	font-size:15px;
}

.rightbox img{


}

.rightbox{
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	-webkit-box-shadow: 2px 2px 9px rgba(170, 170, 170, 0.75);
	-moz-box-shadow:    2px 2px 9px rgba(170, 170, 170, 0.75);
	box-shadow:         2px 2px 9px rgba(170, 170, 170, 0.75);
	  border-radius: 3px 3px 3px 3px;
	background: #FAFAFA;
	min-height: 400px;
    padding: 20px 25px 30px;
    width: 47%;
	float:right;
	vertical-align: baseline;
	margin-top:20px;
}
.package p{

}

.cost p{
	color:#000000;
	font-family: 'RobotoFont';
	line-height:1.5em;
	font-size:18px;
}
.footer{
	background: none repeat scroll 0 0 #242424;
    clear: both;
    float: left;
    padding: 40px 0;
    width: 100%;
}

.footer span{
	color: #616161;
    float: right;
}

.packageIndex{
	vertical-align: baseline;
}
.packageIndex table {
	border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
	border-spacing: 0;
	text-align: center;
	font-family:'RobotoFont';
	color:#000000;
}

.packageIndex table td{
	padding: 5px;
	padding-right:30px;
	padding-left:30px;
	width:20%
}
.packageIndex table thead td{
	
}

.packageIndex table thead h1{
	font-size: 21px;
}

.packageIndex table tbody td{

}
*/