.clientContactForm 
{
margin-left: 400px; 
margin-right: 400px; 
margin-bottom: auto;
margin-top: auto;  
}

.contactustitle
{
    float:left;
	margin-top:30px;
	width:55%;
}

.banner1 {

    background: url('../img/wall1.png') repeat scroll center bottom #0489B1;
	clear: both;
	float:left;
	width:100%;
	-webkit-box-shadow: 0px -1px 24px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px -1px 24px rgba(50, 50, 50, 1);
    box-shadow:	0px -1px 24px rgba(50, 50, 50, 1);

}

.upper1{
	background: url('../img/wall1.png') repeat scroll #0489B1;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #000000;
}
.topNavBar1 ul li a{
	text-decoration:none;
	font-family: Verdana, Geneva, sans-serif;
	color:#848484;
	padding-bottom:5px;
	
}

.frontDescription{
	float:left;
	margin-top:2px;
}
.frontDescription p{
	float:left;
	font-size:20px;
	line-height:1.75em;
	color:#FFFFFF;
	padding-bottom:15px;
	font-family: 'Georgia';
	font-weight: lighter;
}

.navSection{
	float:right;
}

.middler{
	clear: both;
    float: left;
    margin: 100px 0 80px;
    width: 100%;
}

.upperNav1 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.48);
	background: repeat #FFFFFF;
}