/*
IvyWire CSS 
*/

@font-face {
	font-family: 'RobotoFont';
	src: url('../fonts/Roboto-Light-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Roboto-Light-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Roboto-Light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Roboto-Light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoFont2';
	src: url('../fonts/Roboto-Thin-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/Roboto-Thin-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/Roboto-Thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Roboto-Thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CartoonistHand';
	src: url('../fonts/SF_Cartoonist_Hand_Bold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/SF_Cartoonist_Hand_Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/SF_Cartoonist_Hand_Bold-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/SF_Cartoonist_Hand_Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/SF_Cartoonist_Hand_Bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EdoFont';
	src: url('../fonts/edo-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/edo-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/edo-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/edo-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/edo-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
	
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'RobotoFont';
		src: url('../fonts/Roboto-Light-webfont.svg') format('svg');
	}
	
	@font-face {
		font-family: 'RobotoFont2';
		src: url('../fonts/Roboto-Light-webfont.svg') format('svg');
	}
	
	@font-face {
		font-family: 'EdoFont';
		src: url('../fonts/Roboto-Light-webfont.svg') format('svg');
	}
	
	@font-face {
		font-family: 'CartoonistHand';
		src: url('../fonts/Roboto-Light-webfont.svg') format('svg');
	}
}
.upper{
	background: url('../img/wall1.png') repeat scroll center bottom #0489B1;
	clear: both;
	float:left;
	width:100%;
}

.upper a, p{
	color:#FFFFFF;
}
.inner{
	padding: 0 20px;
	margin: 0 auto;
    max-width: 1020px;
}

.nav h1 a{
	display: block;
	float: left;
	letter-spacing:1px;
	font-family: 'EdoFont'
}
.nav{
	border-bottom: 1px solid #FFFFFF;
    clear: both;
    display: block;
    float: left;
    margin: 20px auto;
    padding: 10px 0 10px;
    width: 100%;
}

.nav ul{
	display: inline;
    float: right;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 12px 0;
    padding: 0;
}

.nav ul li{
	display: inline-block;
    float: left;
    margin: 0 0 0 15px;
	font-size: 13px;
	list-style-type: none;
}


.nav ul li a {
	color: #FFFFFF;
    font-weight: 700;
	font-size: 13px;
    padding: 5px;
	font-weight: 900;
    text-transform: uppercase;
	text-decoration: none;
}

.upperDesc{
    color: #FFFFFF;
    float: left;
    line-height: 160%;
    margin: 40px 0 80px;
	clear: both;
    width: 100%;
}

.lefterDesc{
	float: left;
    margin: 0 3% 0 0;
    width: 60%;
}

.lefterDesc h1{
	font-size: 50px;
	padding-top:50px;
	line-height: 150%;
	margin: 0;
	font-weight:700;
}

.lefterDesc p{
	font-size:30px;
	margin-top:50px;
	font-weight:300;
	line-height:40px;
	font-family: 'RobotoFont';
}

.contactButton{
	margin: 0;
    padding: 0;
	vertical-align: baseline;
}

.contactButton a{
	background-color: #0174DF;
	font-size:20px;
	background-image: -moz-linear-gradient(center top , #0174DF, #045FB4);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px #2E2E2E;
	clear: both;
	padding:18px 35px 18px 35px;
	float: left;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration:none;
	margin-top:30px;
	margin-left:5%;
}

.contactButton a:hover,
.contactButton a:focus,
.contactButton a:active{
	background-image: -moz-linear-gradient(center top , #045FB, #0174DF);
}
.righterDesc{

}

.lefterImg{

}

.righterImg{


}
